@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <p>Imię i nazwisko: @Html.TextBoxFor(x => x.Name)</p>
            <p>Email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Telefon : @Html.TextBoxFor(x => x.Phone)</p>
            <p>
                Czy przyjdzieszna  przyjęcie?
                @Html.DropDownListFor(x => x.WillAttned, new[]
       {
           new SelectListItem() {Text = "Tak, przyjdę", Value = bool.TrueString },
           new SelectListItem() {Text = "Nie, nie przyjdę", Value = bool.FalseString }
       }, "Wybierz opcję")

                <input type="submit" value="Wyślij PSVP" />
            </p>
        </div>
    }

</body>
</html>
